doctype html
html
    head
        meta(charset='UTF-8')
        base(href='index.html')
        script.
            console.timeStamp('index')
            window.nodeRequire = require
        script(src='./preload.js')
        script(src='./bundle.js', defer)
        style#custom-css
    body(style='background: ; min-height: 100vh; overflow: hidden')
        app-root
            .preload-logo
                div
                    .terminus-logo
                    h1.terminus-title Terminus
                        sup α 
                    .progress
                        .bar(style='width: 0%')

                    
======
    body(style='background-image: radial-gradient(circle, #2b3840 0%, #1D272D 100%); min-height: 100vh')
        app
>>>>>>> 98fea7b... .
        base(href='index.html')
        script.
            console.timeStamp('index')
            window.nodeRequire = require
        script(src='./preload.js')
        script(src='./bundle.js', defer)
<<<<<<<+HEAD
        style#custom-css
    body(style='background: ; min-height: 100vh; overflow: hidden')
        app-root
            .preload-logo
                div
                    .terminus-logo
                    h1.terminus-title Terminus
                        sup α 
                    .progress
                        .bar(style='width: 0%')

                    
======
    body(style='background-image: radial-gradient(circle, #2b3840 0%, #1D272D 100%); min-height: 100vh')
        app
>>>>>>> 98fea7b... .
